@using SAPWeb.Utility;
@using SAPWeb.Models;
@model SalesOrderQuotationDocument
@{
    ViewBag.Title = "A/R Invoice";
    string dicRigth = string.Empty;
    string adminRigth = "hide";
    if (SessionUtility.U_DiscRigths.ToLower()!="y")
    {
        dicRigth = "readonly";
    }
    if (SessionUtility.U_AdminRights == "Y")
    {
        adminRigth = "";
    }
    string whsCode = SessionUtility.U_WhsCode;
}
<input id="hdnDocEntry" type="hidden" value="@Model.DocEntry"/>
<input type="hidden" id="hdnQuotaionID" value="@Model.QuotaionID" />
<div class="row">
    <div class="col-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Create @ViewBag.Title</h3>
            <p class="text-muted m-b-30 font-13"></p>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtCustomer">Customer Code *</label>
                        <input type="text" class="form-control" id="txtCustomerCode" value="@Model.CardCode" placeholder="Enter Customer">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtName">Customer Name *</label>
                        <input type="text" class="form-control" id="txtCustomerName" value="@Model.NumAtCard" placeholder="Enter Name">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtCustomerRefNo">Customer Ref. No.</label>
                        <input type="text" class="form-control" id="txtCustomerRefNo" placeholder="Customer Ref No">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddlContactPerson">Contact Person *</label>
                        <select id="ddlContactPerson" class="form-control" data-contact="@Model.ContactPersonCode">
                            <option>select contact person</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddlEmployee">Sales Employeee *</label>
                        <select id="ddlEmployee" class="form-control" data-employee="@Model.SalesEmployee">
                            <option>Select Employee</option>
                        </select>
                    </div>
                </div>
             
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddlU_Territory">Territory</label>
                        @*<input id="txtTerritoty" class="form-control" placeholder="Territoty" value="@(Model.U_Territory)" readonly>*@
                        <select id="ddlU_Territory" class="form-control">
                            <option value="99">Select Location</option>
                            <option value="3">CENTRAL UGANDA</option>
                            <option value="4">EAST UGANDA</option>
                            <option value="5">WEST UGANDA</option>
                            <option value="6">NORTH UGANDA</option>
                            <option value="7">RWANDA</option>
                            <option value="8">SUDAN</option>
                            <option value="9">KENYA</option>
                            <option value="10">CONGO</option>
                            <option value="11">BURUNDI</option>
                            <option value="12">TANZANIA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddlLocalCurrency">Document Currency </label>
                        <input type="text" class="form-control" id="txtCurrency" value="@Model.DocCurrency" placeholder="Currency" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddlBillToID">BillTo ID *</label>
                        <select id="ddlBillToID" class="form-control" data-BillTo="@Model.PayToCode">
                            <option>Select Bill To ID</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtBillToAddress">Address</label>
                        <textarea type="text" class="form-control" id="txtBillToAddress" rows="2" readonly></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ddlShipTOID ">Place of Supply *</label>
                        <select id="ddlShipTOID" class="form-control" data-ShipTo="@Model.ShipToCode">
                            <option>Select Ship TO ID</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtShipAddress">Address</label>
                        <textarea type="text" class="form-control" id="txtShipAddress" rows="2" readonly></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtSeries">Series *</label>
                        <select id="ddlSeries" class="form-control" data-series="@(Model.Series.HasValue?Model.Series.Value:0)">
                        </select>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtQuotationNumber ">Quotation Number </label>
                        <input type="text" class="form-control" id="txtQuotationNumber" value="@Model.DocEntry" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtPostingDate">Posting Date *</label>
                        <input type="text" class="form-control mydatepicker" id="txtPostingDate" value="@Model.PostingDate.Value.ToString("dd/MM/yyyy")" placeholder="dd/mm/yyyy" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtPostingDate">Due Date *</label>
                        <input type="text" class="form-control mydatepicker" id="txtDueDate" value="@Model.DeliveryDate.Value.ToString("dd/MM/yyyy")" placeholder="dd/mm/yyyy" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtPostingDate">Document Date *</label>
                        <input type="text" class="form-control mydatepicker" id="txtDocumentDate" value="@Model.DocDate.ToString("dd/MM/yyyy")" placeholder="dd/mm/yyyy" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtStatus ">Status </label>
                        <input type="text" class="form-control" id="txtStatus" value="@Model.DocumentStatusName" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtStatus ">Type </label>
                        <select id="ddlType" class="form-control">
                            <option value="1" selected>AR Invoice + Payment</option>
                            <option value="2">AR Invoice</option>
                        </select>
                    </div>
                </div>
                @*<div class="col-md-2">
            <div class="form-group">
                <label for="txtQuotationNumber ">FiscalDoc</label>
                <input type="text" class="form-control" id="txtFiscalDoc" readonly>
            </div>
        </div>*@
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtQuotationNumber ">FiscalDoc</label>
                        <input type="text" class="form-control" id="txtFiscalDoc" value="@Model.U_FiscalDoc" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtQuotationNumber ">URAPosted</label>
                        <input type="text" class="form-control" id="txtURAPosted" value="@Model.U_URAPosted" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtQuotationNumber ">OriInvoiceID</label>
                        <input type="text" class="form-control" id="txtOriInvoiceID" value="@Model.U_VerCode" readonly>
                    </div>
                </div>
                <div class="col-md-2  @adminRigth">
                    <div class="form-group">
                        <label for="ddlStatus ">Status </label>
                        <select id="ddlStatus" class="form-control" @((bool)ViewBag.Approved == false ? "" : "disabled")>
                            @if (Model.DocumentStatusName == "OPEN" && !string.IsNullOrEmpty(Model.DocumentStatus))
                            {
                                <option value="O">DRAFT</option>
                                <option value="A" selected>APPROVED</option>
                            }
                            else
                            {
                                <option value="O" selected>DRAFT</option>
                                <option value="A">APPROVED</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            @*<div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtCardTIN">Card TIN</label>
                    <input type="text" class="form-control" id="txtCardTin" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtBuyerType">Buyer Type</label>
                    <input type="text" class="form-control" id="txtBuyerType" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtTruckNumber">Truck Number</label>
                    <input type="text" class="form-control" id="txtTruckNumber" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtQuotationNumber ">OriInvoiceID</label>
                    <input type="text" class="form-control" id="txtOriInvoiceID" readonly>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="txtQuotationNumber ">URAPosted</label>
                    <input type="text" class="form-control" id="txtURAPosted" readonly>
                </div>
            </div>
        </div>*@
            <hr />
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table tablecustome table-bordered" id="dtItemDetails">
                                <thead class="thead">
                                    <tr>
                                        <th class="text-center"> Sr.No </th>
                                        <th class="text-center"> Item Code </th>
                                        <th class="text-center"> Item Description </th>
                                        <th class="text-center" width="5%">Quantity</th>
                                        <th class="text-center" width="10%">Unit Price</th>
                                        <th class="text-center" width="10%"> Total Before Discount</th>
                                        <th class="text-center" width="5%"> Discount % </th>
                                        <th class="text-center" width="5%"> Discount Amount</th>
                                        <th class="text-center"> TaxCode </th>
                                        <th class="text-center"> In Stock </th>
                                        <th class="text-center"> Weight </th>
                                        <th class="text-center"> Item Cost </th>
                                        <th class="text-center">Line Total</th>
                                        <th class="text-center hide" width="5%"> WTaxAmount </th>
                                        <th class="text-center"> Warehouse </th>
                                        <th></th>
                                    </tr>
                                </thead><!-- /thead -->
                                <tbody id="tbody">
                                    @if (Model.DocumentLines.Count > 0)
                                    {
                                        int count = 0;
                                        foreach (var item in Model.DocumentLines)
                                        {
                                            count++;
                                            <tr class="text-center">
                                                <td>
                                                    <input type="hidden" id="hdnQuotaionDetailsID_@(count)" value="@(item.QuotaionDetailsID)" />
                                                    <label id="lblSrNo_@(count)">@(count)</label>
                                                </td>
                                                <td><input id="txtItemCode_@(count)" type="text" class="form-control itemsearch" value="@(item.ItemItemCode)"></td>
                                                <td><input id="txtItemName_@(count)" class="form-control form-control-sm itemsearchname" value="@(item.ItemDescription)" /></td>
                                                <td><input id="txtQTY_@(count)" type="text" class="form-control quantity form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="@item.ItemQuantity"> </td>
                                                <td><input id="txtPrice_@(count)" readonly type="text" class="form-control rate form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="@item.ItemPrice">  </td>
                                                <td> <input id="txtTotalBefore_@(count)" type="text" class="form-control itemamount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly> </td>
                                                <td> <input @dicRigth id="txtDiscountPer_@(count)" type="text" class="form-control disrate form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="@item.DiscountPercent"> </td>
                                                <td><input id="txtDiscountAmount_@(count)" type="text" class="form-control disamount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly> </td>
                                                <td>
                                                    <select id="ddlTaxCode_@(count)" class="form-control taxcode">
                                                        <option value="">Select TaxCode</option>
                                                        @foreach (var tax in ViewBag.TaxCode as List<TaxCode>)
                                                        {
                                                            if (tax.Code == item.ItemTax)
                                                            {
                                                                <option value="@tax.Code" data-rate="@(tax.Value)" selected>@tax.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@tax.Code" data-rate="@(tax.Value)">@tax.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td><input id="txtInStock_@(count)" type="text" class="form-control  form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="@(item.InStock.HasValue?item.InStock.Value.ToThousandNoDecimal():"0")" readonly /></td>
                                                <td><input id="txtWeight_@(count)" type="text" class="form-control  form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="@(item.Weight.HasValue?item.Weight.Value.ToThousandNoDecimal():"0")" readonly /></td>
                                                <td><input id="txtItemCost_@(count)" type="text" class="form-control  form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="@(item.ItemCost.HasValue?item.ItemCost.Value.ToThousandNoDecimal():"0")" readonly /></td>
                                                <td><input id="txtLineQTY_@(count)" type="text" class="form-control lineAmount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly> </td>
                                                <td widtd="5%" class="hide"> <input id="txtAmount_@(count)" type="text" class="form-control taxAmount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="">  </td>
                                                <td>
                                                    <select id="ddlWarCode_@(count)" class="form-control warecode">
                                                        <option value="">Select TaxCode</option>
                                                        @foreach (var ware in ViewBag.WarHouseCode as List<WareHouse>)
                                                        {
                                                            if (ware.Code == item.WarehouseCode)
                                                            {
                                                                <option value="@ware.Code" selected>@ware.Name</option>
                                                            }
                                                            else
                                                            {

                                                                <option value="@ware.Code">@ware.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                @*<td> <label id="lblWarhouse_@(count)">@SessionUtility.U_WhsCode</label> </td>*@
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {

                                        <tr class="text-center">
                                            <td>
                                                <input type="hidden" id="hdnQuotaionDetailsID_1" />
                                                <label id="lblSrNo_1">1</label>
                                            </td>
                                            <td><input id="txtItemCode_1" type="text" class="form-control itemsearch" value=""></td>
                                            <td><input id="txtItemName_1" class="form-control form-control-sm itemsearchname" /></td>
                                            <td><input id="txtQTY_1" type="text" class="form-control quantity form-control-sm custom-select-sm form-control-sm-x numericdecimal" value=""> </td>
                                            <td><input id="txtPrice_1" type="text" readonly class="form-control rate form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="">  </td>
                                            <td> <input id="txtTotalBefore_1" type="text" class="form-control itemamount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly> </td>
                                            <td> <input @dicRigth id="txtDiscountPer_1" type="text" class="form-control disrate form-control-sm custom-select-sm form-control-sm-x numericdecimal" value=""> </td>
                                            <td><input id="txtDiscountAmount_1" type="text" class="form-control disamount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly> </td>
                                            <td>
                                                <select id="ddlTaxCode_1" class="form-control taxcode">
                                                    <option value="">Select TaxCode</option>
                                                    @foreach (var item in ViewBag.TaxCode as List<TaxCode>)
                                                    {
                                                        if (item.Code == "O1")
                                                        {
                                                            <option value="@item.Code" data-rate="@(item.Value)" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {

                                                            <option value="@item.Code" data-rate="@(item.Value)">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td><input id="txtInStock_1" type="text" class="form-control  form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly /></td>
                                            <td><input id="txtWeight_1" type="text" class="form-control  form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly /></td>
                                            <td><input id="txtItemCost_1" type="text" class="form-control  form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly /></td>
                                            <td><input id="txtLineQTY_1" type="text" class="form-control lineAmount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="" readonly> </td>
                                            <td widtd="5%" class="hide"> <input id="txtAmount_1" type="text" class="form-control taxAmount form-control-sm custom-select-sm form-control-sm-x numericdecimal" value="">  </td>
                                            <td>
                                                <select id="ddlWarCode_1" class="form-control warecode">
                                                    <option value="">Select WarHouse</option>
                                                    @foreach (var ware in ViewBag.WarHouseCode as List<WareHouse>)
                                                    {
                                                        if (whsCode == ware.Code)
                                                        {
                                                            <option value="@ware.Code" selected>@ware.Name</option>
                                                        }
                                                        else
                                                        {

                                                            <option value="@ware.Code">@ware.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            @*<td> <label id="lblWarhouse_1">@SessionUtility.U_WhsCode</label> </td>*@
                                            <td></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Other Remarks</label>
                    <textarea type="text" class="form-control" id="txtOtherRemarks" rows="6">@Model.Comments</textarea>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <table class="table table-borderless table-no-bordered">
                    <tr>
                        <td class="text-right">
                            <label for="exampleInputEmail1"><b>Total Amount Before Discount :</b></label>
                        </td>
                        <td class="text-right">
                            <label id="lbTotalAmount"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <label for="exampleInputEmail1"><b>Total Discount :</b></label>
                        </td>
                        <td class="text-right">
                            <label id="lblTotalDiscount"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <label for="exampleInputEmail1"><b><input type="checkbox" id="rdtRoundOff" @(Model.Rounding=="tYES"?"checked":"")/>   Rounding :</b></label>
                        </td>
                        <td class="text-right">
                            @if (Model.Rounding == "tYES")
                            {
                                <input type="text" id="txtRounding" style="max-width:50% !important;" class="numericdecimal" value="@Model.RoundingDiffAmount" />
                            }
                            else
                            {

                                <input type="text" id="txtRounding" style="max-width:50% !important;" class="numericdecimal" value="@Model.RoundingDiffAmount" disabled="disabled" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <label for="exampleInputEmail1"><b>Total Tax :</b></label>
                        </td>
                        <td class="text-right">
                            <label id="lblTotalTax"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <label for="exampleInputEmail1"><b>Document Total  :</b></label>
                        </td>
                        <td class="text-right">
                            <label id="lblDocumentTotal"></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <div class="text-right">
            @*@if ((Model.DocEntry.HasValue? Model.DocEntry.Value:0 )<=0 || Model.DocumentStatus == null || Model.DocumentStatus.Contains("Open") || Model.DocumentStatus.Contains("O"))*@
            @if ((bool)ViewBag.Approved == false)
            {
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10 btnSave">Submit</button>
            }
            <a href="/Invoice" class="btn btn-inverse waves-effect waves-light">Cancel</a>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var whsCode = '@SessionUtility.U_WhsCode';
        slpCode = '@SessionUtility.U_SlpCode';
        $(document).ready(function () {
            customerCodeURL = '@Url.Action("GetCustomer", "Customer", new { area = "" })';
            invoiceHeaderURL = '@Url.Action("GetARInvoice", "Customer", new { area = "" })';
            itemURL = '@Url.Action("GetItemDetails", "Item", new { area = "" })';
            invoiceSaveURL = '@Url.Action("Save", "Invoice", new { area = "" })';
            sapWEB.ARInvoice.Init();
            sapWEB.helper.GridHelper.init({ id: 'dtItemDetails', actionIndex: 15, rowFunc: dtGridHelper, addBtn: true, deleteBtn: true });
            if (sapWEB.helper.GetNumericValue('hdnDocEntry') > 0 || sapWEB.helper.GetNumericValue('hdnQuotaionID') > 0) {
                sapWEB.ARInvoice.FNARInvoice();
                sapWEB.ARInvoice.FNChangeEvent();
                $("#ddlU_Territory").val('@Model.U_Territory');
                $("#ddlU_Territory").trigger('change');
            }
            if ((sapWEB.helper.GetString('hdnDocEntry') != '' && sapWEB.helper.GetString('hdnDocEntry') !== "0")
                || (sapWEB.helper.GetString('hdnQuotaionID') != '' && sapWEB.helper.GetString('hdnQuotaionID') !== "0")
            ) {
                $('#txtPostingDate').datepicker({
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                }).datepicker("setDate", new Date($("#txtPostingDate").attr('value').split('-').reverse().join('-')));

                $('#txtDueDate').datepicker({
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                }).datepicker("setDate", new Date($("#txtDueDate").attr('value').split('-').reverse().join('-')));
                $('#txtDocumentDate').datepicker({
                    todayHighlight: true,
                    format: 'dd/mm/yyyy',
                }).datepicker("setDate", new Date($("#txtDocumentDate").attr('value').split('-').reverse().join('-')));

            }
            $(".mydatepicker").datepicker("destroy");

        })
        var dtGridHelper = function () {
            sapWEB.ARInvoice.AutoComplete();
            if ($(this)[0].id === 'btnAdd') {
                var row = $('#tbody tr:last');
                var rowIndex = $(row).attr('data-row-id');
                $(row).find('#ddlWarCode_' + rowIndex).val(whsCode);
                $('#ddlWarCode_' + rowIndex).trigger('change');
                $(row).find('#ddlTaxCode_' + rowIndex).val("O1");
                $('#ddlTaxCode_' + rowIndex).trigger('change');
            }
            return true;
        }
    </script>
}



